<section class="custom-hero">
  <h1>Sommettre votre documents</h1>
</section>

<section class="custom-soumission">
  <div class="custom-title">
    <h1>Formulaire de soumission</h1>
  </div>
  <div class="custom-form">
    <!-- <form (submit)="onSubmit()">
      <input type="file" (change)="onFileChange($event)">
      <button type="submit">Scan</button>
      <div *ngIf="progress">Progress: {{ progress }}%</div>
    </form> -->

    <form [formGroup]="profileForm">

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Type de soumission</mat-label>
          <mat-select>
            <mat-option value="Article">Article</mat-option>
            <mat-option value="Poster">Poster</mat-option>
            <mat-option value="Communication">Communication</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Theme</mat-label>
          <input
            matInput
            placeholder="Ex. LA MIGRATION INTRA ABDOMINALE DE DIU"
          />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Topics</mat-label>
          <mat-select>
            <mat-option value="Urgences sanitaires et défis"
              >Urgences sanitaires et défis</mat-option
            >
            <mat-option value="Soins obstétricaux et néonatals"
              >Soins obstétricaux et néonatals</mat-option
            >
            <mat-option value="Soins aux enfants (SMK, SENN)"
              >Soins aux enfants (SMK, SENN)</mat-option
            >
            <mat-option value="Planification familiale (PF)"
              >Planification familiale (PF)</mat-option
            >
            <mat-option value="Numérique et santé (1) maternelle et infantile"
              >Numérique et santé (1) maternelle et infantile</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Titre du document</mat-label>
          <input
            matInput
            placeholder="Ex. Incidence et facteurs associés aux grossesses non désirées chez les travailleuses du sexe (TS) à Bobo-Dioulasso (Burkina Faso)"
          />
        </mat-form-field>
      </div>

      <div>
        <h2>Nom(s) et Prénom(s) de famille de l'auteur ou de l'autrice principal-e</h2>
        <p>Comme vous souhaitez qu'il(s) apparaisse(nt).</p>
        <mat-form-field class="example-full-width">
          <mat-label>Nom et prénom *</mat-label>
          <input matInput placeholder="Ex. Traore Pierre" />
        </mat-form-field>
      </div>

      <div>
        <h2>Résumé de votre proposition de contribution</h2>
        <p>
          Copiez ici le résumé de votre article - maximum 200-250 mots, sans
          référence bibliographique.
        </p>
        <mat-form-field class="example-full-width">
          <mat-label>Resume *</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>

      <div formArrayName="aliases">
        <h2>Mots clés</h2>
        <p>
          Copiez ici quatre à cinq mots clés décrivant le champ de recherche
          couvert par votre article.
        </p>

        <div *ngFor="let alias of aliases.controls; let i = index">
          <mat-form-field class="example-full-width">
            <mat-label>mots cles {{ i + 1 }} *</mat-label>
            <input
              type="text"
              [formControlName]="i"
              matInput
              placeholder="Ex. maternité"
            />
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          type="button"
          (click)="addAlias()"
          *ngIf="aliasCount < 5"
        >
          + Ajouter un mots cles
        </button>
      </div>

      <div
        (click)="fichierInput.click()"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4px;
          margin-block-start: 22px;
        "
      >
        <button type="button" class="btn-fichier" mat-raised-button>
          Fichier
        </button>
        <mat-form-field class="bbst-full-width">
          <mat-label>Fichier</mat-label>

          <input
            type="text"
            class="bbst-full-width"
            matInput
            value="{{ nomFichier }}"
            readonly
          />
        </mat-form-field>
      </div>
      <input
        (change)="onFileSelected($event)"
        #fichierInput
        hidden
        type="file"
        id="file"
      />

      <div style="margin-block: 24px">
        <button class="custom-send-btn example-full-width" mat-raised-button>
          Envoyer
        </button>
      </div>
    </form>
  </div>
</section>
