section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #e8c2d98e;
    /* background: linear-gradient(#e8c2d950, #e8c2d952), url(/assets/img/img-caroussel-2/A004C018_210726_K7B4.MOV.20_44_57_04.Still001.jpg) no-repeat; */
    background-position: center;
    background-size: cover;
}

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #f8f8f8;
    width: 35%;
    /* border-radius: 2%; */
    /* display: flex; */
}

.register-container .custom-text {
    /* padding: 12px; */
    color: #262626;
    margin-block-end: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: #e8c2d950;
    width: 100%;
    height: 100%;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.custom-text div {
    background: #262626;
    color: #fff;
    font-weight: 500;
    width: fit-content;
}

.custom-text div a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    gap: 12px;
    padding: 6px;
    padding-inline: 14px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}


.form-grid {
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 22px; */
}

button {
    background: #251d56 !important;
    color: #ffffff !important;
}

@media only screen and (min-width: 1600px) {
    .register-container {
        width: 25%;
    }
}

@media only screen and (max-width: 1024px){
    .register-container{
        width: 65%;
        
    }
}
@media only screen and (max-width: 430px){
    .register-container{
        width: 95%;
        
    }
}