.custom-container {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
  /* gap: 14px; */
  padding-block: 84px;
  background: #f8f8f8;
}

.mot-remehbs {
  background: #fff;
  padding-block: 12px;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.rem-title {
  font-size: clamp(1.2rem, 3vw, 3rem);
  font-weight: 500;
  /* color: #f5119a; */
  color: #251d56;
}

.custom-heading {
  /* width: 40%; */
  padding-inline: 54px;
}

.custom-text {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-block-end: 34px;
  color: #ff72c7;
}

.custom-heading h1 {
  color: #251d56;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 500;
  margin-block: 64px;
  text-transform: capitalize;
}

.custom-presi-text {
  color: #262626d5;
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.pics {
  /* width: 400px; */
  padding-inline: 10%;
  padding-block: 2%;
  background-color: #fff;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  max-height: 480px;
  overflow: hidden;
}

.rem-coord {
  color: #251d56;
  font-weight: 500;
}

.pics p {
  text-align: justify;
  line-height: 1.7;
  font-size: 1.1rem;
}

/**Text container */

.text-container {
  max-height: 480px;
  overflow: hidden;
  position: relative;

  padding-inline: 10%;
  padding-block: 2%;
}

.text-container.show-all {
  max-height: none;
}

.text-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 90%);
  pointer-events: none;
}

.text-container.show-all::after {
  display: none;
}

.show-more-btn {
  display: block;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/** */

@media only screen and (max-width: 1024px) {

  /* .custom-container{
    flex-direction: column;
  } */
  .custom-heading {
    width: 100%;
    text-align: center;
    padding-inline: 12%;
  }

  .pics {
    width: 100%;
  }
}
