.custom-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 14px;
  padding-block: 84px;
}

.custom-heading {
  width: 40%;
  padding-inline: 54px;
}

.custom-text {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-block-end: 34px;
  color: #ff91af;
}

.custom-heading h1 {
  color: #0047AB;
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 500;
  margin-block: 64px;
  text-transform: capitalize;
}

.custom-presi-text {
  color: #262626d5;
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.pics {
  width: 400px;
}


@media only screen and (max-width: 1024px) {
  .custom-container{
    flex-direction: column;
  }
  .custom-heading{
    width: 100%;
    text-align: center;
    padding-inline: 12%;
  }
}