<section>
  <div class="custom-container">
    <div class="custom-heading">
      <p class="custom-text">Mots du président du REMEHBS</p>

      <h1>Nom et Prenom du président</h1>
      <p class="custom-presi-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo fugit
        rerum quis quae? Labore, beatae odio rerum, magnam non consequuntur
        voluptatum possimus, illum nulla dolorem aperiam voluptates?
        Voluptatibus, consectetur eos?
      </p>
    </div>
    <div class="pics">
      <img
        src="/assets/img/pexels-dellon-thomas-2216607.jpg"
        alt=""
        srcset=""
      />
    </div>
  </div>
</section>
