<section>
  <div class="custom-container">
    <div class="mot-remehbs">
      <div class="text-container">
        <div class="coord-sec">
          <img
            style="width: 140px"
            src="/assets/img/coordonnateur.png"
            alt=""
          />

          <div>
            <p>Le Coordonateur du REMEHBS</p>
            <!------------>
            <h1 class="rem-coord">Pr. Ziemlé Clément MEDA</h1>

            <p>
              Maître de conférences agrégé <br />
              Santé publique/ Politique et management des systèmes de santé
            </p>
          </div>
        </div>
        <p style="margin-block-start: 8px;">
          Chers membres, collègues, et partenaires, C'est avec une immense joie
          et un grand honneur que je vous souhaite la bienvenue au sein du
          Réseau Mère Enfants des Hauts-Bassins (REMEHBS).
        </p>
        <!------------>
        <p>
          Le Réseau mère enfant des Hauts-Bassins (REMEHBS) est une association
          prônant le réseau de périnatalité, et engagée résolument pour
          l’amélioration de la santé de la mère et de l’enfant dans la Région de
          Hauts-Bassins, voire au niveau national au Burkina Faso. Un réseau de
          périnatalité est une modalité particulière d’organisation des soins de
          santé maternels et périnatals regroupant aussi bien les établissements
          de soins que les professionnels du secteur socio-sanitaire, les
          usagers des services, et les non professionnels de la santé, tous
          œuvrant pour la santé de la mère et de l’enfant. L’objectif principal
          d’un réseau de périnatalité est une meilleure utilisation de toutes
          les ressources et acteurs pour améliorer la qualité de la santé
          maternelle et périnatale.
        </p>
        <!-------->
        <p>
          Se faisant, le REMEHBS contribue à la promotion de la santé et à la
          prévention en santé élevées au rang de premier tremplin de tout
          développement national. Première approche novatrice de réseau de
          périnatalité pour la réduction des morbidités et mortalités
          maternelles et périnatales en Afrique francophone, l’expérience du
          REMEHBS fait bon chemin au Burkina Faso depuis 2025.
        </p>
        <!---------------->
        <p>
          Ayant son siège à Bobo-Dioulasso, le REMEHBS est une association de
          professionnels de santé et de non professionnels de la région des
          Hauts-Bassins ayant pour but de contribuer à la réduction des
          morbidités et mortalités maternelles et infantiles, par une synergie
          des efforts et des acteurs, allant de la communauté à l’hôpital. C’est
          une organisation non gouvernementale, apolitique et non
          confessionnelle dont le principe est la promotion de soins
          obstétricaux et néonataux d’urgence (SONU) et factuels. Il s’agit d’un
          autre regard, autre que celui de l’Administration sanitaire publique.
          Notre mission est de garantir que chaque mère et chaque enfant
          puissent accéder à des soins de santé de qualité, quel que soit leur
          lieu de résidence. Nous devons œuvrer ensemble pour renforcer nos
          capacités, promouvoir les bonnes pratiques et mettre en place des
          systèmes de santé résilients. En travaillant en synergie avec nos
          partenaires, nous visons à réduire les morbidités et mortalités
          maternelles et infantiles, améliorer la nutrition, et offrir des soins
          et services de santé de qualité adaptés aux besoins de nos
          populations. Cela s’exprime par la promotion de la santé, la
          recherche, l’expertise scientifique et technique, et la formation pour
          contribuer à sa manière au développement sanitaire. Par la promotion
          de la santé, le REMEHBS compte éveiller les consciences des
          populations pour leur santé et par elles-mêmes. Par la recherche, le
          REMEHBS compte améliorer les connaissances scientifiques pour générer
          des évidences diffusées et utiles à l’amélioration de la santé des
          populations. Par l’évaluation de terrain, l’offre de soins et services
          de santé, et l’expertise scientifique des politiques, des programmes
          et des projets, c’est de rendre disponibles les meilleures des
          informations à même de garantir des décisions de santé fondées sur des
          faits, et donc fondées sur des preuves. Par la formation des
          scientifiques et des professionnels de la santé surtout l’implication
          des paramédicaux, et des non professionnels de la santé, il s’agit
          d’élargir la base des acteurs compétents au service de la santé des
          mères et des enfants, et pour servir les populations.
        </p>
        <!------------->
        <p>
          Avec notre détermination collective et notre engagement, toutes et
          tous, nous pouvons surmonter les défis du domaine de la santé de la
          mère et de l’enfant, et apporter des solutions durables. Nous vous
          remercions pour votre engagement et votre dévouement. Ensemble, nous
          pouvons faire une différence significative et durable dans la vie de
          nombreuses familles. Continuons à travailler avec passion et
          détermination pour un avenir meilleur et plus sain pour toutes les
          mères et tous les enfants des Hauts-Bassins, du Burkina Faso,
          d’Afrique, et du Monde.
        </p>
        <!-------------------->
        <p>Avec mes sincères salutations,</p>
      </div>
      <div class="show-more-btn">Afficher plus</div>
    </div>
  </div>
</section>
