<section>
  <div class="custom-container">
    <div class="custom-heading">
      <p class="custom-text">Mots du coordonnateur du REMEHBS</p>

      <h1>Dr. Ziemlé Clément MEDA</h1>
      <ul>
        <li>MD, MPM, PhD in Pubic Health</li>
        <li>Maître de conférences agrégé (MCA) en Santé publique
           (gestion des systemes de santé)</li>
        <li>Lecturer and researcher at the Hight Institute
           of Health Sciences of the Nazi BONI University</li>
        <li>INSSA, Université Nazi BONI (Ex Universié Polytechnique de Bobo-Dioulasso)
          et au Centre Hospitalier Universitaire Souro SANOU (CHUSS), Bobo-Dioulasso
        </li>
        <li>Certificate of Health Systems Policy and Management</li>
      </ul>
      
    </div>
    <div class="pics">
      <img src="/assets/img/coordonnateur.png" alt="" srcset="" />
    </div>
  </div>
</section>