.carousel_items {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  /* transition: 0.5s ease; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  /* padding: 0.5rem 1rem; */
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
  display: none;
}

.item1 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel/A004C006_210726_K7B4.MOV.19_02_35_12.Still001.jpg");
}

.item2 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel/A004C009_210726_K7B4.MOV.19_06_10_19.Still001.jpg");
}

.item3 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel/A005C081_210724_K7B4.MOV.00_05_21_19.Still001.jpg");
}

.item4 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel/A005C090_210726_K7B4.MOV.17_29_02_00.Still001.jpg");
}

.item5 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel/congres.00_02_48_09.Still001.jpg");
}