<section>
  <div class="custom-hero">
    <h1>Remehbs</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe iusto
      rerum quibusdam culpa, dolor nemo laborum numquam odio ut molestias quos
      doloremque quod! Sunt velit ab labore at molestias facere? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Saepe iusto rerum quibusdam
      culpa, dolor nemo laborum numquam odio ut molestias quos doloremque quod!
      Sunt velit ab labore at molestias facere?
    </p>
  </div>
</section>
