section {
  text-align: center;
}

.custom-hero {
  padding-inline: 18%;
  padding-block: 54px;
}

.custom-hero h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 500;
  color: #FF91AF;
  margin-block-end: 18px;
}

.custom-hero p {
  font-size: clamp(1rem, 3vw, 1.1rem);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
}
