<section class="custom-caroussel">
  <app-caroussel />
  <section class="custom-hero">
    <div style="text-align: center">
      <h1 class="custom-title">RESEAU MERE - ENFANT DES HAUTS-BASSIN</h1>
      <!-- <p class="custom-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
        dolor quibusdam ut molestias quos tempora odio? Molestiae, voluptas
        quisquam accusamus ducimus eveniet saepe officia modi veniam velit
        laboriosam repellendus in?
      </p> -->
      <button mat-raised-button>En savoir plus</button>
    </div>
  </section>
</section>

<section>
  <app-description-president />
</section>

<section>
  <app-remehbs-desc />
</section>

<section>
  <app-equipe />
</section>

<section>
  <app-footer />
</section>
