<section
  style="height: 55px; background: #251d56 !important; width: 100%; color: #fff"
>
  <div class="container">
    <div class="info-contact">
      <p class="custom-question">Avez-vous des question ?</p>
      <p>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="call"
        ></mat-icon>
        <span>+226 70244827 </span>
        <span>/ +226 78694467 </span>
        <span>/ +226 70340000 </span>
        <span>/ +226 76562667</span>
      </p>
      <p>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="email"
        ></mat-icon>
        <span>secretariat&#64;remehbs-bf.org</span>
      </p>
    </div>
    <div class="info-log">
      <p>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="person"
        ></mat-icon
        ><span><a style="color: #fff;" routerLink="/remehbs-login">Se connecter</a></span>
      </p>
      <p>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="enhanced_encryption"
        ></mat-icon
        ><span> <a style="color: #fff;" routerLink="/remehbs-register">S'inscrire</a> </span>
      </p>
    </div>
  </div>
</section>
<app-nav-bar />
<router-outlet/>
