<section class="section-footer">
  <div>
    <div>
      <img style="width: 70px" src="/assets/img/logo.png" alt="" srcset="" />
      <p style="word-spacing: normal">RESEAU MERE - ENFANT</p>
    </div>
  </div>
  <div style="width: minmax(50px, 100px); ">
    <h1>Localisation</h1>
    <p style="word-spacing: normal">
      Centre Hospitalier Universitaire Sourô SANOU
    </p>
    <p style="word-spacing: normal">Bobo - Dioulasso</p>
    <p style="word-spacing: normal">BURKINA - FASO</p>
  </div>

  <div style="width: minmax(50px, 100px);">
    <h1>Contacts</h1>
    <p>
      <span>Ph. </span> <span style="word-spacing: normal">+226 70244827</span>
    </p>
    <p>
      <span>Ph. </span> <span style="word-spacing: normal">+226 78694467</span>
    </p>
    <p>
      <span>Ph. </span> <span style="word-spacing: normal">+226 78694467</span>
    </p>
    <p>
      <span>Ph. </span> <span style="word-spacing: normal"> +226 78694467</span>
    </p>
    <p><span>Mail. </span>secretariat&#64;remehbs-bf.org</p>
  </div>
  <div>
    <h1>Lien rapide</h1>
    <p style="word-spacing: normal">
      <a routerLink="/remehbs/journee-remehbs">Journées remehbs 2025</a>
    </p>
    <p style="word-spacing: normal"><a>FeedBack 6e journée</a></p>
  </div>
</section>
<section class="section-mention-legale">
  <p style="text-align: center"></p>
</section>
