/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato-Regular, sans-serif;
  list-style: none;
  text-decoration: none !important;
  min-width: 0;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;

  -webkit-text-size-adjust: 100%;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}