<section class="custom-caroussel">
  <app-caroussel2 />
  <section class="custom-hero">
    <div style="text-align: center">
      <h1 class="custom-title">
        JOURNEES RESEAU MERE - ENFANT DES HAUTS-BASSINS
      </h1>
      <!-- <p class="custom-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda
          dolor quibusdam ut molestias quos tempora odio? Molestiae, voluptas
          quisquam accusamus ducimus eveniet saepe officia modi veniam velit
          laboriosam repellendus in?
        </p> -->
      <!-- <button mat-raised-button>En savoir plus</button> -->
      <button (click)="soumettre()" mat-raised-button>Appel à soumission</button>
    </div>
  </section>

  <!-- <div *ngFor="let item of items | slice:0:limit">
    {{item}}
  </div>
  <button (click)="loadMore()" *ngIf="limit < items.length">Charger plus</button> -->
</section>

<!-- <section>
  <app-remehbs-conference />
</section> -->
