.carousel_items {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.carousel_item {
  position: relative;
  min-width: 100%;
  height: 100vh;
  transition: all 0.5s linear;
  /* transition: 0.5s ease; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel_text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  /* padding: 0.5rem 1rem; */
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-shadow: 1px 1px black;
  font-size: calc(1.5rem + 0.3vw);
  font-weight: bolder;
  display: none;
}

.item1 {

  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel-2/A004C018_210726_K7B4.MOV.20_44_57_04.Still001.jpg");
}

.item2 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel-2/A004C024_210726_K7B4.MOV.22_48_31_02.Still001.jpg");
}

.item3 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel-2/A005C024_210724_K7B4.MOV.17_50_39_21.Still001.jpg");
}

.item4 {
  background-image: linear-gradient(#00000028, #00000028), url("/assets/img/img-caroussel-2/A005C025_210724_K7B4.MOV.17_56_09_13.Still003.jpg");
}