<section>
  <h1>Notre équipe</h1>
  <p style="padding-inline: 18%; text-align: center; margin-block-end: 60px">
    Nous sommes une Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Iste dicta atque vel nemo unde praesentium numquam sequi nostrum commodi
    deleniti nam, explicabo debitis fugit corporis laudantium, velit quo magnam
    laboriosam.
  </p>
  <div class="equipe-grid">
    <div class="equipe-item">
      <div class="equipe-pics1">
        <img
          src="/assets/img/equipe/pexels-spencer-selover-428333.jpg"
          alt=""
          srcset=""
        />
      </div>
      <h3>Nom et prenom</h3>
      <p>fonction</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        facere eius ratione veritatis ipsum dicta iste, numquam mollitia
        perspiciatis quis ex quas odit possimus! Aut placeat dolorum at ut sit?
      </p>
    </div>
    <div class="equipe-item">
      <div class="equipe-pics">
        <img
          src="/assets/img/equipe/pexels-anthony-chinweuba-2330118.jpg"
          alt=""
          srcset=""
        />
      </div>
      <h3>Nom et prenom</h3>
      <p>fonction</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        facere eius ratione veritatis ipsum dicta iste, numquam mollitia
        perspiciatis quis ex quas odit possimus! Aut placeat dolorum at ut sit?
      </p>
    </div>
    <div class="equipe-item">
      <div class="equipe-pics">
        <img
          src="/assets/img/equipe/pexels-andrew-dick-697509.jpg"
          alt=""
          srcset=""
        />
      </div>
      <h3>Nom et prenom</h3>
      <p>fonction</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        facere eius ratione veritatis ipsum dicta iste, numquam mollitia
        perspiciatis quis ex quas odit possimus! Aut placeat dolorum at ut sit?
      </p>
    </div>
    <div class="equipe-item">
      <div class="equipe-pics">
        <img
          src="/assets/img/equipe/pexels-anthony-chinweuba-2330118.jpg"
          alt=""
          srcset=""
        />
      </div>
      <h3>Nom et prenom</h3>
      <p>fonction</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        facere eius ratione veritatis ipsum dicta iste, numquam mollitia
        perspiciatis quis ex quas odit possimus! Aut placeat dolorum at ut sit?
      </p>
    </div>
  </div>
</section>

<!-- <section>
  <h1>Video Congres</h1>
  <video style="width: 400px;" controls autoplay src="/assets/video/congres.mp4"></video>
</section> -->