<section>
  <h1>Notre équipe</h1>
  <p style="padding-inline: 18%; text-align: center; margin-block-end: 60px">
    Nous sommes une Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Iste dicta atque vel nemo unde praesentium numquam sequi nostrum commodi
    deleniti nam, explicabo debitis fugit corporis laudantium, velit quo magnam
    laboriosam.
  </p>
  <div class="equipe-grid">
    <div class="equipe-item">
      <div class="equipe-pics1">
        <img src="/assets/img/charge_recherche.jpg" alt="charge de la recherche" srcset="" />
      </div>
      <h3>Professeur Der Adolphe SOME</h3>
      <p>Chargé de la recherche et de la formation </p>
      <p>Médecin Gynécologue et Obstétricien Past Coordinator</p>
    </div>
    <div class="equipe-item">
      <div class="equipe-pics">
        <img src="/assets/img/adjoint_coordonnateur.jpg" alt="adjoint coordonnateur" srcset="" />
      </div>
      <h3>Dr Hermann Habib OUATTARA</h3>
      <p>Chargé de la planification et du suivi évaluation, Adjoint du Coordonnateur </p>
      <p>
        Médecin Gynécologue et
        Obstétricien
      </p>
    </div>
    <div class="equipe-item">
      <div class="equipe-pics">
        <img src="/assets/img/charge_tresorerie.jpg" alt="charge de la tresorerie" srcset="" />
      </div>
      <h3>Mme Honorine SOMA</h3>
      <p>Chargé de la Trésorerie</p>
      <p>Sage-femme d’Etat</p>
    </div>
    <div class="equipe-item">
      <div class="equipe-pics">
        <img src="/assets/img/sante_infantile.jpg" alt="Charge des activite de la sante infantile" srcset="" />
      </div>
      <h3>Dr Makoura BARRO</h3>
      <p>Chargé des activités de santé
        infantile</p>
      <p>
        Médecin, Maître de conférences
        agrégé (MCA) en Pédiatrie
      </p>
    </div>

    <div class="equipe-item">
      <div class="equipe-pics">
        <img src="/assets/img/charge_sante_maternelle.jpg" alt="Charge des activite de la sante maternelle" srcset="" />
      </div>
      <h3>Dr Éric TOGBE</h3>
      <p>Chargé des activités de santé
        maternelle</p>
      <p>
        Médecin Gynécologue et
        Obstétricien
      </p>
    </div>

    <div class="equipe-item">
      <div class="equipe-pics">
        <img src="/assets/img/comite_scientifique.jpg" alt="Charge des activite de la sante maternelle" srcset="" />
      </div>
      <h3>Professeur Souleymane OUATTARA</h3>
      <p>Président du comité scientifique</p>
      <p>
        Médecin Gynécologue et
        Obstétricien
      </p>
    </div>

  </div>
</section>

<!-- <section>
  <h1>Video Congres</h1>
  <video style="width: 400px;" controls autoplay src="/assets/video/congres.mp4"></video>
</section> -->